<html>
<head>
  <title>{{site.title}} | {{title}}</title>
  
  <link rel="stylesheet" href="node_modules/normalize/normalize.css" type="text/css" media="screen" title="Stylesheet" charset="utf-8">
  <link rel="stylesheet" href="styles.css" type="text/css" media="screen" title="Stylesheet" charset="utf-8">

</head>
<body>

  {% for p in site.pages %}
  <div class="column" style="width: {{ 100 | divided_by: site.pages.size }}%">
    <div class="padding">
      {% include 'includes/item' %}
    </div>
  </div>
  {% endfor %}

</body>
</html>