body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.5em;
  color: #eee;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
}

.column {
  float: left;
}

.padding {
  padding: 1em;
}